################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/TrickyTrianglePlanning/v16/.suo
/.vs/VSWorkspaceState.json
/env
/.vs/PythonSettings.json
/.vs
/python/__pycache__
